.Activities-Container {
    width: 33%;
}

.Activities-Img {
    width: 90%;
    max-width: 800px;
    height: 100%;
    object-fit: cover;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.Activities-Padding-Y {
    padding: 15px 0;
    display: flex;
    flex-flow: column;
    gap: 5px;
}