.Main-Cities {
    background: url(/public/img/travel-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20px;
    min-height: 90vh;
}

.citiesPageContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
}

.City-container {
    padding: 15px;
    display: flex;
    max-width: 96%;
    flex-flow: column;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.City-img {
    height: 400px;
    width: 850px;
    max-width: 100%;
    object-fit: cover;
}

.City-text {
    padding-top: 15px;
    font-family: 'Permanent Marker';
    font-size: x-large;
}

.Search-Cities {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.Input-Cities {
    background-color: whitesmoke;
    border-radius: 5px;
    height: 2rem;
    width: 20rem;
    max-width: 90%;
    border: none;
    transition: ease-in-out 0.1s;
}

.Input-Cities:hover {
    background-color: white;
}


@media (min-width: 426px) {
    .City-container {
        width: 50vh;
    }
}

@media (min-width: 769px) {
    .citiesPageContainer {
        justify-content: center;
    }
}