.navbar {
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
}

.navbar-links {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.img-header {
    height: 50px;
    width: 50px;
}

.Bar {
    background-color: rgb(80, 35, 20);
    height: 10vh;
}

.img-burger {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.col-menu {
    text-align: left;
    gap: 15px;
    padding: 2.5vh 0;
    width: 100%;
}

.row-menu {
    padding: 0 15px 0 0;
}


.buttonNavbar {
    border: none;
    background-color: transparent;
}

.img-avatar {
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.user-menu {
    font-size: small;
}

.User-Avatar {
    display: flex;
    flex-flow: column;
}

.avatar-links {
    padding: 4px;
}
.avatar-links:hover {
    background-color: rgba(255, 0, 0, 0.5);
    transition: ease-in-out 0.3s;
    border-radius: 5px;
}

@media (max-width: 1023px) {
    .hide-nav-desktop {
        display: none;
    }
    .navbar {
        align-items: flex-start;
        padding: 20px 1rem 0 1rem;
    }
    .user-menu {
        display: flex;
        flex-flow: column;
    }
}

@media (min-width: 1024px) {
    .hide-nav-burger {
        display: none;
    }
    .menu-hover {
        padding: 10px;
    }
    .menu-hover:hover {
        background-color: rgba(255, 0, 0, 0.5);
        transition: ease-in-out 0.3s;
        border-radius: 5px;
    }
    .Logo-Center-Desktop {
        width: 7.5vw;
    }
    .User-Avatar {
        display: flex;
        flex-flow: column;
        width: 7.5vw;
    }
}